<main>
  <div class="rectangle">
    <p class="naslov" >ADMINISTRACIJA</p>
  </div>

  <div class="container">
    <button class="btn" id="btn-kviz" (click)="otvoriKviz()">KVIZ</button>
    <button class="btn" id="btn-muftijstva" (click)="otvoriMuftijstva()">MUFTIJSTVA</button>
    <button class="btn" id="btn-nafile" (click)="otvoriNafile()">NAFILE</button>
    <button class="btn" id="btn-medzlisi" (click)="otvoriMuftijstva()">MEDŽLISI</button>
    <button class="btn" id="btn-imami" (click)="otvoriImame()">IMAMI</button>
    <button class="btn" id="btn-moderatori" (click)="otvoriModeratore()">MODERATORI</button>
  </div>

</main>




