input[type=text]{
  display: block;
  width: 70%;
  margin-top: 1%;

}
.main-containerr{
  margin-left: 13%;
  margin-top: 2%;
  padding: 2%;
  box-shadow: 2px 5px 20px;
  margin-right: 10%;
}
.col{
  margin-top: 2%;

}

