<div class="containerw" style="align-content: center">
  <div class="main">
    <button (click)="navigiraj()"  type="button" class="btn btn-outline-none"><div style="background-color: #d7f1d7;"><img src="   https://cdn-icons-png.flaticon.com/512/3143/3143540.png " width="100" height="100" alt="" title="" class="img-small"><p style="padding-top: 1%">Dodaj kviz</p></div></button>
    <button (click)="navigiraj2()"  type="button" class="btn btn-outline-none" ><div style="background-color: #c0c2c2;"><img src="   https://cdn-icons-png.flaticon.com/512/4394/4394562.png " width="100" height="100" alt="" title="" class="img-small"><p style="padding-top: 1%">Lista kvizova</p></div></button>
  </div>
  <div class="main">
    <button (click)="navigirajNaVijesti()"  type="button" class="btn btn-outline-none"><div style="background-color: #cccaca;"><img src="   https://cdn-icons-png.flaticon.com/512/9414/9414851.png " width="100" height="100" alt="" title="" class="img-small"><p style="padding-top: 1%">Vijesti</p></div></button>
    <button (click)="navigirajNaAktivnosti()"  type="button" class="btn btn-outline-none"><div style="background-color: #b8deb8;"><img src="   https://cdn-icons-png.flaticon.com/512/2802/2802378.png " width="100" height="100" alt="" title="" class="img-small"><p style="padding-top: 1%">Aktivnosti</p></div></button>
  </div>
</div>
