<main>
  <div class="rectangle">
    <p class="naslov" >ADMINISTRACIJA</p>
  </div>

  <div class="container">
    <button class="btn" id="btn-vijesti" (click)="navigirajVijesti()">VIJESTI</button>
    <button class="btn" id="btn-aktivnosti" (click)="navigirajAktivnosti()">AKTIVNOSTI</button>
    <button class="btn" id="btn-ljetopis" (click)="navigirajKviz()">KVIZ</button>
    <button class="btn" id="btn-dzematInfi" (click)="otvoriDzematInfo()">DŽEMAT - INFO</button>
  </div>

</main>










