<main>
  <div class="rectangle">
    <p class="naslov">ADMINISTRACIJA</p> <p class="podnaslov">informacije o džematu</p>
  </div>

  <div class="form-group0">
    <label for="exampleFormControlTextarea1">Naziv:</label>
    <textarea class="form-control" id="exampleFormControlTextarea0" rows="3" placeholder="..." [(ngModel)]="dzematDetalji.naziv"></textarea>
  </div>

  <div class="form-group1">
    <label for="exampleFormControlTextarea1">Kratki opis:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="..." [(ngModel)]="dzematDetalji.kratkiOpis"></textarea>
  </div>

  <div class="form-group2">
    <label for="exampleFormControlTextarea1">O džematu:</label>
    <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" placeholder="..." [(ngModel)]="dzematDetalji.info"></textarea>
  </div>

  <div class="form-group3">
    <label for="exampleFormControlTextarea1">Džematski odbor:</label>
    <textarea class="form-control" id="exampleFormControlTextarea3" rows="3" placeholder="..." [(ngModel)]="dzematDetalji.dzematskiOdbor"></textarea>
  </div>

  <div class="form-group4">
    <label class="form-label">Nova slika</label>
    <input class="form-control" id="slika-input" type="file"  accept="image/*" (change)="generisi_preview()" />
    <img style="max-width: 100%; height: 200px" src="{{dzematDetalji.slika_nova_base64}}">
  </div>

  <div class="form-group5">
    <button type="button" class="btn" (click)="spasiInformacije()"  >Spasi</button>
  </div>

</main>
