<header>
  <nav class="navbar navbar-expand-lg navbar-light"  *ngIf="loginInfo().isLogiran">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"  routerLink="/putanja-home">MojDžemat.ba</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <li *ngIf="loginInfo().isLogiran" class="nav-item">
            <a class="nav-link" href="#" routerLink="putanja-messenger">Razgovor</a></li>
          <li *ngIf="loginInfo().isLogiran" class="nav-item">
          <a class="nav-link" href="#" routerLink="/putanja-porodice">Matična knjiga</a></li>
          <li *ngIf="loginInfo().isLogiran" class="nav-item">
          <a class="nav-link" href="#" routerLink="/vijesti">Vijesti</a></li>
          <li *ngIf="loginInfo().isLogiran" class="nav-item">
          <a class="nav-link" href="#" routerLink="aktivnosti">Aktivnosti</a></li>
          <li *ngIf="loginInfo().isLogiran" class="nav-item">
          <a class="nav-link" href="#" routerLink="kvizovi-korisnik">Kviz</a></li>
          <li *ngIf="loginInfo().isLogiran" class="nav-item">
          <a class="nav-link" href="#" routerLink="putanja-svenafile">Nafile</a></li>
          <li *ngIf="loginInfo().isLogiran" class="nav-item">
          <a class="nav-link" href="#" routerLink="putanja-mojenafile">Moje nafile</a></li>
          <li *ngIf="loginInfo().isLogiran && loginInfo().autentifikacijaToken?.korisnickiNalog?.isImam" class="nav-item">
          <a class="nav-link" href="#" routerLink="putanja-administracijaImam">Administracija imam</a></li>

          <li *ngIf="loginInfo().isLogiran && loginInfo().autentifikacijaToken?.korisnickiNalog?.isAdmin" class="nav-item">
            <a class="nav-link" href="#" routerLink="/putanja-administracijaModerator">Admin profil</a></li>
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="#" id="navbarLogiraniKorisnikLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="profilna-slika" src="{{loginInfo().autentifikacijaToken.korisnickiNalog.slika_korisnika}}"> {{loginInfo().autentifikacijaToken.korisnickiNalog.korisnickoIme}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarLogiraniKorisnikLink">
              <li><a class="dropdown-item" routerLink="/postavke-profila">Postavke profila</a></li>
              <li><a class="dropdown-item" (click)="logoutButton()">Odjava</a></li>
            </ul>
          </li>
          <a class="nav-link" id="Opine" href="#" routerLink="putanja-info">Džemat Opine</a>
        </div>
      </div>
    </div>
  </nav>
</header>



<div >
  <router-outlet></router-outlet>
</div>

<footer id="f" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
    </a>
    <span class="text-muted">&copy; 2023 Moster, Inc</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
  </ul>
</footer>
