<div class="mainn">
  <button (click)="navigiraj()"  type="button" class="btn btn-outline-none"><div style="background-color: #e8e4c4;"><img src="   https://cdn-icons-png.flaticon.com/512/6786/6786692.png " width="100" height="100" alt="" title="" class="img-small"></div></button>
  <button (click)="navigiraj2()"  type="button" class="btn btn-outline-none"><div style="background-color: #c2ba88;"><img src="   https://cdn-icons-png.flaticon.com/512/84/84613.png " width="100" height="100" alt="" title="" class="img-small"></div></button>
</div>
